@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 01 */
.title-color{
  color: #131313;
}
/* dark 02 */
.text-gray{
  color: #424242;
}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
  display: flex;
}
/* Main styles */
.navbar{
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.brand-name{
  font-size: 2.8rem;
}
.nav-menu{
  width: 40%;
  justify-content: space-around;
}
.nav-item{
  list-style: none;
 
}
.nav-link{
  text-decoration: none;
  font-weight: 500px;
  font-size: 1.2rem;
}