@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 01 */
.title-color {
  color: #131313;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.text-light-gray {
  color: #727272;
}
/* primary color */
.primary-text {
  color: #ff900e;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex {
  display: flex;
}

.btn-primary {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #ff900e;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  transition: 0.4s ease-in;
}
.btn-primary:hover {
  background-color: transparent;
  color: #ff900e;
  border: 1px solid #ff900e;
}
.common-width {
  max-width: 1130px;
  margin: 0 auto;
}
.common-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* Main styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.brand-name {
  font-size: 2.8rem;
}
.nav-menu {
  width: 40%;
  justify-content: space-around;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
  font-size: 1.2rem;
}
/* banner style started */

.banner-content {
  width: 70%;
  margin: 60px auto;
  text-align: center;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
  line-height: 26px;
  margin: 20px 0px;
}

.banner img {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40px;
}
/* Team section started */
.team {
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-image-container img {
  width: 100%;
}

.team-content-container {
  max-width: 530px;
}
.team-title {
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list {
  font-weight: 500;
}
/* Responsive Header */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-menu,
  .team {
    flex-direction: column;
  }
  .navbar {
    gap: 20px;
  }
  .team {
    gap: 70px;
  }
  .team-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content-container {
    text-align: center;
    margin: 0px 40px;
  }
}
/* Medium screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .team {
    flex-direction: column;
    gap: 70px;
  }
  .team-content-container {
    /* text-align: center; */
    margin: 0px 0px;
  }
}
